body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: rgba(255, 255, 128, .5)
}

h1 {
  font-size: 40px;
  font-weight: 500;
  font-style: oblique;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
/* How to get rid of box frame when pressing button? */
button{
  border-radius: 30px;
  background-color: #4CAF50;
  border: none;
  padding: 10px;
  }

/* below is extra */
.toggleTitleColor{
 color: blue ;
}
 /* above is extra */
